* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  border: none;
  font-family: "Inter", system-ui, sans-serif;
  box-sizing: border-box;
  color: #fff;
}

body {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  background-color: #141414;
  min-height: 100vh;

  main {
    width: 375px;
    min-height: 100vh;

    .profile {
      padding: 24px;
      margin: 70px 24px;
      width: 327px;
      height: 579px;
      background-color: #141414;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      background-color: #1f1f1f;
      border-radius: 12px;
      gap: 24px;

      .profile__text {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;

        .profile__pic {
          border-radius: 50%;
          width: 88px;
          height: 88px;
          margin: -4px 0 15px 0;
        }

        .details {
          margin: -20px 0;
        }
        .profile__name {
          color: #fff;
          font-weight: 500;
          font-size: 1.78em;
        }
        .profile__local {
          color: #c4f82a;
          font-size: 0.7em;
        }
        .profile__description {
          color: #fff;
          font-size: 0.95em;
        }
      }
      .profile__links {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 16px;

        .btn {
          width: 279px;
          height: 48px;
          background-color: #333;
          border-radius: 10px;
          font-weight: bold;
          color: #fff;

          &:hover {
            background-color: #c4f82a;
            transition: 0.5s ease-out;
            color: #141414;
          }
        }
      }
    }
  }
  .attribution {
    font-size: 1em;
    text-align: center;

    a {
      color: #c4f82a;
    }
  }
}

@media screen and (max-width: 840px) and (min-width: 428px) {
  body {
    display: flex;
    align-items: center;
    justify-content: center;

    main {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 1064px;
      width: 768px;

      .profile {
        width: 456px;
        height: 611px;
        padding: 40px;

        .profile__local {
          font-size: 0.7em;
        }

        .profile__links {
          gap: 16px;

          .btn {
            width: 376px;
            border-radius: 8px;
          }
        }
      }
    }

    .attribution {
      font-size: 1em;
    }
  }
}

@media screen and (max-width: 1440px) and (min-width: 960px) {
  body {
    display: flex;
    justify-content: start;
    align-items: center;
    main {
      height: 960px;
      max-width: 1440px;

      .profile {
        width: 384px;
        height: 611px;
        padding: 40px;

        .profile__text {
          .profile__local {
            font-size: 0.7em;
          }
        }
        .profile__links {
          gap: 16px;

          .btn {
            width: 304px;
            height: 45px;
            border-radius: 8px;
          }
        }
      }
    }
    .attribution {
      display: none;
    }
  }
}
