@import "colors.scss";

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Outfit;
}

.bg {
    background: $main-BG;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition:  1s ;

}

.card {
    height: 31rem;
    width: 18.5rem;
    border-radius: 20px;
    margin: 50px auto;
    background: $card-BG;
    padding: 10px;
    transition:  0.5s ease;
    box-shadow: 2px 3px 4px rgba($color: #141414, $alpha: 0.3);

    #nft {
        height: auto;
        width: 255px;
        margin: 10px;
        border-radius: 6px;
        cursor: pointer;
    }


    #view {
        width: 30px;
        position: absolute;
        top: 32%;
        left:49%;
        display: none;
        color: $main-BG;
        background: transparent;
        transition: 0.5s;
    }

    &:hover{
        #view{
            display: block;
            z-index: 1;
            filter: blur(0);
        }
        h5{
            color: $primary-color2;
        }


        #nft {
            filter: blur(5px);
                }

   
    }

    

    .card-body {
        background-color: $card-BG;
    }


    .card-title {
        font-size: 18px;
        font-weight: 500;
        margin:5px  0 10px 8px;
        color: $white;
    }

    .card-text {
        color: $primary-color1;
        font-size: 15px;
        margin:0 0 5px 8px;


    }

    .dados{
        display: flex;
        justify-content: space-between;
        padding: 10px;
        margin: auto;
    .dados1 {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    
        img {
            align-items: center;
            width: 7px;
            display: inline;
        }
    
        p {
            margin-left: 5px;
            display: inline;
            font-size: 13px;
            color: $primary-color2;
        }
    }

    
    .dados2 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 7px;
     
    
        img {
            width: 10px;
            display: inline;
        }
    
        p {
            margin-left: 5px;
            display: inline;
            font-size: 12px;
            color: $primary-color1;
        }
    }
}
    
    .divider {
        border-bottom: 1px solid $line;
        width: 95%;
        margin: 5px auto;
    }
    
    .footer {
        display: flex;
        align-items: center;
        padding: 10px;

    
        img {
            width: 30px;
            border: 1.5px solid $white;
            border-radius: 50%;
            margin-right: 5px;
        }
    
        a {
            
            text-decoration: none;
            font-size: 14px;
            color: $white;
        }
    
        .create {
            color: $primary-color1;
        }
    }

}




.attribution{
    position: absolute;
    bottom: 10px;
    left: 500px;
    margin: auto;
    font-size: 14px;

}


@media (min-width: 320px) and (max-width: 425px){
    .attribution{
        margin: auto;
        position: relative;
        left: auto;
        bottom: 30px;

    }

}

@media  (max-width: 1336px){
    .attribution{
        margin: auto;
        position: relative;
        left: auto;
    }
}







